.rooms-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.room {
    display: flex;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    flex-direction: column;
}

.room-name {
    font-size: 24px;
    text-align: center;
}

.room-content {
    margin-bottom: 10px;
}

.room-players {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.three-columns-like-two {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

#gamePage, body, html {
    height: 100%;
}

.three-columns-like-two .first {
    grid-column: 1;
}

.three-columns-like-two .second {
    grid-column: 2/4;
}

.three-columns-like-two .first,
.three-columns-like-two .second {
    width: 100%;
    height: 100%;
}

.game-field {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.player {
    display: flex;
    align-items: center;
}

.player-status {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    background-color: red;
}

.player-status.ready {
    background-color: green;
}

#timer {
    font-size: 3rem;
}

.highlight {
    background-color: #0F0;
}

.highlight-next {
    background-color: red;
}

.progress-bar {
    width: 150px;
    height: 30px;
    border: 1px solid black;
}

.progress-bar .inner {
    background-color: green;
    width: 0;
    height: 100%;
}

#gameContent {
    width: 40%;
    margin-bottom: 100px;
}

#timeLeft {
    text-align: center;
    margin-bottom: 100px;
    font-size: 1.3rem;
}

#timeLeft:before {
    content: "Time left: "
}
